body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}                       
.container{                                 /* SECTION-1-home */
    height: 100vh;
}
.container-sub{
    display: grid;
    grid-template-rows: 30% 21% 20% 25% 30% 25%;
    row-gap: 4px;
}
.top{
    background:url("bridge.jpg");
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    color: snow;
    position: relative;
}
.top::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.top .top-detail-head h1{
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}
.top-head h1{
    color: black;
    font-size: 2em;
    margin-top: -19px;
}
.top .sub-top{
    margin-top: 2%;
    position: relative;
    z-index: 2;
}
.top-nav-bar {
    text-align: center;
    margin: 5px 0;
}
.top-nav-bar ul{
    border-top:1.5px solid white;
    border-bottom:1.5px solid white;      
    margin:0 250px;   
}    
.top-nav-bar ul li{
    font-family: 'Lora', serif;
    font-size: 0.7em;
    list-style: none;
    padding: 15px;
    display: inline-block;
    text-transform: uppercase;
    margin: -1% 0;
}
.top-nav-bar ul li:hover{                         /* HOVER UL LI*/
    background-color: rgba(232, 119, 103, 1);
}
.top-detail-sub{
    margin-top: 15px;
}
.mid{                                           /* SECTION-2-Types */
    background:rgba(247, 113, 112, 1);
    color:snow;
    justify-content: center;
    text-align: center;
}
.mid .mid-heading, .mid-works .mid-heading{
    background:rgba(247, 113, 112, 1);
    padding: 30px 6vw 1px 6vw;
    box-shadow: 0 -8px 6px rgb(59, 59, 59);
    font-weight: 700;
    font-size: 12px;
    z-index: 2;
    position: relative;
    color: white;
}
.mid .mid-1 .heading{
    padding: 5px 0;
    font-size: 0.8em;
    line-height: 0.9;
}
.sub-mid{    
    text-align: center;
    display: grid;
    grid-template-columns:38vh 38vh 38vh ;
    column-gap: 40px;
    justify-content: center;
    padding: 5px 0 5px 0;
    margin-top: 50px;  
    justify-self: center;  
}
.mid .mid-1{  
    margin: -25px 0 40px 00;
    border:2px solid #f77170;
    padding:7% 2%;
    transition: margin 1.5s ;
    width:150px;
}
.mid .mid-1 .logo img{
    height: 45px;
}
.mid .mid-1 .detail{
    font-size: 0.55em;
}
#grid1:hover{
    border:2px solid #e7e6e6;
    color:snow;
    background-color:rgba(252, 89, 90, 1) ; 
    margin: -40px 0 45px 0;
}
#grid2:hover{
    border:2px solid #e7e6e6;
    color:snow;
    background-color:rgba(252, 89, 90, 1) ; 
    margin: -40px 0 45px 0;
}
#grid3:hover{
    background-color:rgba(252, 89, 90, 1) ; 
    border:2px solid #e7e6e6;
    color:snow;
    margin: -40px 0 45px 0; 
}
.mid-works{                               /* SECTION-3-WORKS */
    text-align: center;
}
.mid-works .sub-mid{
    display: flex;
}
.mid-works .mid-1{
    height: 40vh;
    width:150px;
    /* margin:0 50px; */
}
.mid-works .mid-1 .web-1{
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    /* height: 30vh; */
    padding: 15px 0;
    transition: margin 1.5s ;
}
.mid-works .mid-1 .web-1:hover{
    border:2px solid #e7e6e6;
    color:snow;
    margin: -40px 0 45px 0; 
}
.mid-works .mid-1 .web-1 img{
   padding: 0 2px;
}
.mid-works .mid-1 .web-1 .heading{
    color:rgba(252, 89, 90, 1) ;
    font-size: small;
}
.sub-mid .web-1 .detail{
    color: black;
    font-size: 10px;
}
.sub-mid .web-1:hover{
    border:2px solid #e7e6e6;
    color:snow;
    background-color:rgb(255, 255, 255) ; 
    margin: -37px 0 30px 0;
}
.mid-deatil-sec{                                /* SECTION-4-PORT. */
    padding: 30px 60px;
}
.mid .sub-mid{    
    justify-self: center;
    text-align: center;
    display: grid;
    grid-template-columns:38vh 38vh 38vh ;
    column-gap: 60px;
    justify-content: center;
    padding: 5px 0 5px 0;
    margin-top: 50px;    
}
 #grid1-blog, #grid2-blog, #grid3-blog{
    height: 250px;
    background-color: white;
    color: black;
    border-bottom:2px solid black;
    transition: margin 1.5s ;
    width:180px;
}
#grid1-blog .heading, #grid2-blog .heading, #grid3-blog .heading{
    color: rgba(233, 115, 93, 1) ;
    padding: 10px 0;
}
#grid1-blog:hover, #grid2-blog:hover, #grid3-blog:hover{
    background-color:rgb(252, 247, 247) ; 
    margin: -40px 0 40px 0;
}
#grid1-blog a, #grid2-blog a, #grid3-blog a{
    color:white;
    background-color:rgba(233, 115, 93, 1);
    border-radius: 2px;
    text-decoration: none;
    font-size: 0.6em;
    padding: 2px 4px;
    margin-top: 155px;
}
.sub-mid-sec{
    height: 250px;
    padding: 45px 0 0 0;
    margin: 0 5px ;
    border-top: double white;
    border-bottom:double white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sub-mid-sec .p-1{
    font-size: 2em;
}
.sub-mid-sec .p-2{
    color:gray;
}
.sub-mid-sec .p-2 span{
    color:rgba(228, 124, 106, 1);
    font-style: italic;
}
.sub-mid-sec .p-3{
    margin:40px 0;
    font-size:1.6em;
}
.sub-mid-sec .p-1,.p-2,.p-3{
    margin: 5px 0 7px 0;
}
.sub-mid-sec .port a{
    text-decoration: none;
    background-color: rgba(228, 124, 106, 1);
    padding: 8px;
    border-radius: 3px;
    color: white;
}
.bottom{
    background:rgba(186, 46, 47, 1);
}
/*@ MEDIA QUERIES*/
@media (max-width:769px){      
    .sub-mid{        
        grid-template-columns: 60vh 60vh;        
    }
    .container-sub{        
        grid-template-rows:20% 21% 38% 20% 30% 30%;        
    }
    .top-nav-bar ul{
               margin:0 30px;   
    }    
    .mid{
        padding: 0 40px 0 50px;
    }
    .mid-1{
        transform: scale(0.7,0.7);
        margin: -20px 0;
    }
    #grid1-blog, #grid2-blog, #grid3-blog{
        transform: scale(0.7,0.7);
        margin: -20px 0;
    }
    /* .mid-1 .web-1{
        height: 25vh;
        padding: 5px 0;
        width: 30vw;
        border-bottom: 2px solid black;
    } */
}
@media (max-width:596px){    
    .sub-mid{       
        grid-template-columns: 60vh;        
    }
   .mid{
       padding: 0 20px;
   }
    .container-sub{        
        grid-template-rows:15% 21% 25% 20% 35% 30%;        
    }
    .mid-1{
        transform: scale(0.5,0.6);
        margin: -50px 0;
    }
    .mid-works .mid-1 {
        margin-top: 5px;
    }
    #grid1-blog , #grid2-blog , #grid3-blog{
        transform: scale(0.5,0.7);
    }
}

/*  */
